{% extends "email/base.html" %}
{% block content %}
<p>Dobrý den, {{ user_name }},</p>
<p>úspěšně jste se přihlásili na akci:</p>
<table class="event-info">
  <tr><td>Název:</td><td><a href="{{ url_for_external('events.detail', event_id=event.id) }}">{{ event.name }}</a></td></tr>
  <tr><td>Začátek:</td><td>{{ event.start_datetime.strftime('%d.%m.%Y %H:%M') }}</td></tr>
  <tr><td>Konec:</td><td>{{ event.end_datetime.strftime('%d.%m.%Y %H:%M') }}</td></tr>
  {% if event.address %}<tr><td>Místo:</td><td>{{ event.address }}</td></tr>{% endif %}
  {% if event.contact_person %}<tr><td>Kontakt:</td><td>{{ event.contact_person }}</td></tr>{% endif %}
</table>
<p>Pokud se nemůžete zúčastnit, odhlaste se prosím v aplikaci co nejdříve, aby mohl být slot nabídnut jinému zdravotníkovi.</p>
{% endblock %}
