{% extends "email/base.html" %}
{% block content %}
<p>Dobrý den, {{ user_name }},</p>
<p>přihlašování na akci je nyní otevřeno:</p>
<table class="event-info">
  <tr><td>Název:</td><td><a href="{{ url_for_external('events.detail', event_id=event.id) }}">{{ event.name }}</a></td></tr>
  <tr><td>Začátek:</td><td>{{ event.start_datetime.strftime('%d.%m.%Y %H:%M') }}</td></tr>
  <tr><td>Konec:</td><td>{{ event.end_datetime.strftime('%d.%m.%Y %H:%M') }}</td></tr>
  {% if event.address %}<tr><td>Místo:</td><td>{{ event.address }}</td></tr>{% endif %}
</table>
{% set open_spots = event.unfilled_spots %}
{% if open_spots %}
<p style="margin-top:1em"><strong>Volná místa ({{ open_spots | length }}):</strong></p>
<table class="event-info">
  {% for spot in open_spots %}
  <tr>
    <td style="vertical-align:top;padding-right:1em">Místo {{ loop.index }}</td>
    <td>
      {% set active_reqs = spot.required_qualifications | selectattr("is_deleted", "equalto", false) | list %}
      {% if active_reqs %}
        <strong>Požadavky:</strong> {{ active_reqs | map(attribute="name") | join(", ") }}<br>
      {% else %}
        <em>Bez požadavků na kvalifikaci</em><br>
      {% endif %}
      {% if spot.description %}
        <span style="color:#555">Poznámka: {{ spot.description }}</span>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<p>Přihlaste se v aplikaci MedCover, pokud máte zájem o účast.</p>
{% endblock %}
