{% extends "email/base.html" %}
{% block content %}
<p>Dobrý den, {{ coordinator_name }},</p>
<p>na akci <a href="{{ url_for_external('events.detail', event_id=event.id) }}"><strong>{{ event.name }}</strong></a>
zbývá {{ unfilled | length }} neobsazen{% if unfilled | length == 1 %}é místo{% elif unfilled | length < 5 %}á místa{% else %}ých míst{% endif %}:</p>
<table class="event-info">
  <tr><td>Začátek:</td><td>{{ event.start_datetime.strftime('%d.%m.%Y %H:%M') }}</td></tr>
  <tr><td>Konec:</td><td>{{ event.end_datetime.strftime('%d.%m.%Y %H:%M') }}</td></tr>
  <tr><td>Obsazení:</td><td>{{ event.filled_spots }}/{{ event.total_spots }}</td></tr>
</table>
{% set real_spots = unfilled | selectattr("id", "defined") | list %}
{% if real_spots %}
<p style="margin-top:1em"><strong>Neobsazená místa:</strong></p>
<table class="event-info">
  {% for spot in real_spots %}
  <tr>
    <td style="vertical-align:top;padding-right:1em">Místo {{ loop.index }}</td>
    <td>
      {% set active_reqs = spot.required_qualifications | selectattr("is_deleted", "equalto", false) | list %}
      {% if active_reqs %}
        <strong>Požadavky:</strong> {{ active_reqs | map(attribute="name") | join(", ") }}<br>
      {% else %}
        <em>Bez požadavků na kvalifikaci</em><br>
      {% endif %}
      {% if spot.description %}
        <span style="color:#555">Poznámka: {{ spot.description }}</span>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
